:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #009b74;
    --white-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, .2);
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

/*********************************************************************************************************/


/******************************************BODY**************************************************/
body {
    max-width: 1450px;
    /* Limita a largura máxima */
    width: 80%;
    /* Largura total */
    height: 100%;
    /* Altura total */
    display: block;
    /* Corrigido de 'auto' para 'block' */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    /* Tamanho da fonte padrão */
    background: linear-gradient(to right, #7500b81c, #5900ff60, #00c3ff);
    background-color: #000;
    color: #d6d6d6;
    margin: 0;
    /* Remove margens padrão */
    padding: 0;
    /* Remove preenchimento padrão */
    padding-left: 10em;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

/*******************************************BODY***********************************************/

/*******************************************CABEÇALHO********************************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 4%;
    background: linear-gradient(to right, #7500b800, #5900ff54, #00c3ff);
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.logo {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: 80rem;
    text-decoration: none;
}

.logo:hover {
    color: #00ffbf;
    transition: 1.5s;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: #000;
    font-weight: 500;
    margin-right: 3.5rem;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
    transition: 0.8s;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a:hover {
    color: #04a3ff;
    transition: 0.2s;
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

/***************************************************FIM DO CABEÇALHO*********************************************/


/***************************************************INICIO******************************************************/
.inicio {
    padding-top: 4rem;
}

/***************************************************INICIO******************************************************/


/**************************************************Projetos******************************************************/
.projects {
    padding-top: 5rem;
}

.container {
    background: linear-gradient(to right, #00c3ff83, #5900ff0e, #6800a5ab);
    border-radius: 30px;
    padding: 2%;
    margin: 0 auto;
    /* Centraliza o contêiner */
}

.image-group {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens se movam para a próxima linha */
    justify-content: center;
}

.Arkone {
    width: 100%;
    /* Largura total */
    max-width: 281px;
    /* Largura máxima */
    margin: 0 auto;
    /* Centraliza o footer */
}

.Portifolio,
.Matriz,
.Arkone,
.eu,
.Inove {
    width: 100%;
    /* Largura total */
    max-width: 280px;
    /* Largura máxima */
}

/*****************************************************FIM DOS PROJETOS*********************************************/


/*****************************************************SOBRE MIM***************************************************/
.texto-sobre-mim {
    padding-top: 4rem;
}

.eu {
    border-radius: 15%;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.055), rgb(0, 0, 0));
}

.a {
    text-decoration: none;
    color: #00cf80;
}

.a:hover {
    color: #00d9ff;
    transition: 1.5s;
}

/*****************************************************SOBRE MIM***************************************************/


/*****************************************************LINKS***************************************************/
.divul {
    width: 200px;
}

.ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li a {
    display: block;
    text-decoration: none;
    background-color: rgba(105, 105, 105, 0.425);
    margin-bottom: 1px;
    padding: 5px 3px;
    color: #fff;
}

li a:hover {
    background-color: #00ffbf;
    color: #000;
    transition: 0.8s
}

/*****************************************************LINKS***************************************************/


/****************************************************TABELAS**************************************************/
caption {
    background-color: rgb(0, 43, 56);
    color: #969696;
    border: 2px solid #7a7a7ad0;
}

.h11{
    color: #00c3ff;
}

.tabela {
    padding-top: 5rem;
}

table {
    background: rgb(0, 43, 56);
    box-shadow: 0px 10px 20px 0px rgb(0, 0, 0.7);
}

.tds {
    padding: 4px 12px;
}

.coluna1 {
    background-color: rgb(0, 31, 88);
}

/****************************************************TABELAS**************************************************/

/****************************************************FORMULARIO***********************************************/
.divh2 {
    color: #00c3ff;
}

form {
    max-width: 470px;
    padding: 20px 50px;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding-right: 80px;
    background: linear-gradient(to right, #00c3ff9c, #5900ff73, #9300e9bb);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #dfdfdf;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #00000000;
    border-radius: 100px;
    background-color: #1a1a1a;
    color: #acacac;
}

.required {
    color: rgb(192, 1, 1);
    /* Cor do asterisco */
    font-size: 12px;
    padding-left: 3px;
}

.enviar{
    background-color: #0099ff;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    width: 490px;
}

.enviar:hover{
    background-color: #007a66;
    color: #67edff;
    transition: 1.2s;
}

/****************************************************FORMULARIO***********************************************/

/*****************************************************RESPONSIVIDADE***************************************************/
@media (max-width: 1300px) {
    body {
        font-size: 20px;
        /* Reduz o tamanho da fonte em telas menores */
        width: 90%;
        margin: auto;
        padding: 0;
        /* Remove preenchimento padrão */
    }

    .header {
        padding: 1rem;
        background: #070707d5;
    }

    .logo {
        font-size: 25px;
    }

    .navbar a {
        font-size: 1.6rem;
        color: #00fff2;
    }

    .inicio {
        padding-top: 10rem;
    }

    .container {
        padding: 5%;
        /* Aumenta o preenchimento em telas menores */
    }

    .Arkone {
        max-width: 90%;
        /* Largura máxima do footer em telas menores */
    }

    .Portifolio,
    .Matriz,
    .Arkone,
    .eu,
    .Inove {
        max-width: 90%;
        /* Largura máxima em telas menores */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 20px;
        /* Reduz o tamanho da fonte em telas menores */
        width: 100%;
        margin: auto;
        padding: 0;
        /* Remove preenchimento padrão */
    }

    .header {
        padding: 0.2rem 4%;
        background: #070707d5;
    }

    .logo {
        font-size: 30px;
    }

    .navbar a {
        font-size: 0.5rem;
    }

    .inicio {
        padding-top: 6rem;
    }

    .container {
        padding: 5%;
        /* Aumenta o preenchimento em telas menores */
    }

    .footer {
        max-width: 90%;
        /* Largura máxima do footer em telas menores */
    }

    .Portifolio,
    .Matriz,
    .Arkone,
    .eu,
    .Inove {
        max-width: 90%;
        /* Largura máxima em telas menores */
    }

    .enviar{
        width: 275px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
        /* Reduz ainda mais o tamanho da fonte */
        width: 90%;
        margin: auto;
        padding: auto;
        /* Remove preenchimento padrão */
    }

    .header {
        padding: 0.2rem 4%;
        background: #070707d5;
    }

    .logo {
        font-size: 30px;
    }

    .navbar a {
        font-size: 0.5rem;
    }

    .inicio {
        padding-top: 6rem;
    }

    .container {
        padding: 10%;
        /* Aumenta o preenchimento em telas muito pequenas */
    }

    .footer {
        max-width: 100%;
        /* Largura total em telas muito pequenas */
    }

    .Portifolio,
    .Matriz,
    .Arkone,
    .eu,
    .Inove {
        max-width: 100%;
        /* Largura total em telas muito pequenas */
    }

    .enviar{
        width: auto;
    }
}

/*****************************************************RESPONSIVIDADE***************************************************/